<!-- 
File name:  about.ejs
Author:     Luis Grijalva 100719475 
            Steven Mitchell 100506443
Date:       4/4/2020 
-->

<!-- Main Content -->
<div class="row">
    <div class="col">
        <div class="jumbotron" id="contentArea">


            
        </div>
    </div>
</div>