<!-- Main Content -->
<div class="row">
  <div class="col">
    <div class="jumbotron" id="contentArea">
      <h1 class="display-4">Interesting Projects Live Here!</h1>
      <div class="card-deck"></div>
      <div class="card">
        <img class="card-img-top" src="/Assets/batman_joker.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Beating up the Joker</h5>
          <p class="card-text">Main job is to beat up the bad guys.</p>
          <p class="card-text"><small class="text-muted">Click <a href="https://en.wikipedia.org/wiki/Batman">here</a> to find out more about those cases.</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/Assets/batman_car.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tech creation</h5>
          <p class="card-text">I spend some time developing technology to more efficiently beat up the bad guys</p>
          <p class="card-text"><small class="text-muted">Click <a href="https://en.wikipedia.org/wiki/Batman">here</a> to find out more about my creations.</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/Assets/batman_brooding.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Professional brooding</h5>
          <p class="card-text">I also spend some of my time brooding over my past and all tragic events!</p>
          <p class="card-text"><small class="text-muted">Click <a href="https://en.wikipedia.org/wiki/Batman">here</a> to learn more and brood with me...</small></p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>